*{
    color: rgb(200, 200, 200);
    text-align: center;
}

body{
    background-image: radial-gradient(rgb(70,70,85), rgb(50,50,50));
    font-family: Arial, Helvetica, sans-serif;
    line-height: 20px;
}

button{
    background-image: radial-gradient(rgb(70,70,85), rgb(50,50,50));
    height: 50px;
    width: 150px;
    font-size: larger;
    font-weight: 700;
}

label{
    font-size: 50px;
}

.text{
    font-size: 16px;
}

.text2{
    font-size: 20px;
}

.text3{
    font-size: 14px;
    color: rgb(255, 175, 175);
    background-image: radial-gradient(rgb(85,70,70), rgb(50,50,50));
}

.auto{
    background-image: radial-gradient(rgb(70,85,70), rgb(50,50,50));
    color: rgb(175, 255, 175);
}

.restart{
    background-image: radial-gradient(rgb(85,70,70), rgb(50,50,50));
    color: rgb(255, 175, 175);
}

.clicks{
    font-size: 100px;
    width: 10px;
}

.hardmode {
    background-image: radial-gradient(rgb(85,70,70), rgb(50,50,50));
}

.LoadData {
    height: 25px;
    width: 125px;
    font-size: x-small;
}
